/*
Estilos da página index.html
*/
.center{
    text-align:center;
}

.justify{
    text-align: justify;
}

.container{
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    align-items: center;
}
#menu li{
    display: inline;
    padding: 10px;
}
#menu li a{
    text-decoration: none;
    color:black
}
#menu li a:hover{
    color: #FF69B4;
}
.p-15{
    padding: 15px;
}
.br-5{
   border-radius: 5%;
}
.tm-social{
    width: 50px;
    height: 50px;
}
.mb-50{
  margin-bottom: 50px;
}
/*
Estilos da página contato.html
*/
.ml-50{
    margin-left: 50px;
}
