/*
Estilos da página index.html
*/
.center{
    text-align:center;
}

.justify{
    text-align: justify;
}

.container{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}
#menu li{
    display: inline;
    padding: 10px;
}
#menu li a{
    text-decoration: none;
    color:black
}
#menu li a:hover{
    color: #ff93b2;
}
.p-15{
    padding: 15px;
}
.br-5{
   border-radius: 5%;
}
.tm-social{
    width: 50px;
    height: 50px;
}
.mb-50{
  margin-bottom: 50px;

}
.background{
    background-color: #ffcc66;
}
.txtColor{
    font-style: "color" #ffffff ;
}
.background-Capa{
    background-color: #ff93b2;
}


/*
Estilos da página contato.html
*/
.ml-50{
    margin-left: 50px;
}
.w-50{
    width: 50%;
}
